.project {
  padding: 50px 20px;
  background-color: black;
  
}

.project-section h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color:White;
}

.project-list {
  display: flex;
  justify-content: center;
}

.p-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  flex-wrap: wrap;
}

.project-item {
  background-color: rgb(84, 82, 82);
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-item p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: white;
}
.project-item a{
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.project-item a:hover{
   background-color: rgb(21, 165, 222);
   cursor: pointer;
}

.project-item button {
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.project-item button:hover {
  background-color: rgb(21, 165, 222);
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


@media (max-width: 768px) {
  .p-list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
