.project {
  padding: 60px 20px;
  background-color:black;
  color: white;
}

.project-section h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}


.project-list {
  display: flex;
  justify-content: center;
}

.p-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 0;
  width: 100%;
  max-width: 1100px;
}


.project-item {
  background: rgb(46, 46, 46);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  
  display: flex;
  flex-direction: column;   /* stack items vertically */
  height: 100%;             /* equal height cards */

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.project-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.project-item p {
  font-size: 0.95rem;
  color:lightgray;
  margin-bottom: 20px;
}



.project-item a {
  margin-top: auto;         
  display: inline-block;
  padding: 10px 18px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: background 0.3s ease, transform 0.2s ease;
 
}

.project-item a:hover {
  background: skyblue;
  transform: scale(1.05);
}


.view-more {
  display: block;
  margin: 50px auto 0;
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background: white;
  color: black;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.view-more:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.4);
  background-color: green;
  color: black;
}

@media (max-width: 768px) {
  
  .p-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px; 
    padding: 0;
  }

  .project-item {
  
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .project-item img {
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .project-item p {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }

  .project-item a {
    padding: 9px 16px;
    font-size: 0.9rem;
    gap: 10px;
    text-decoration: none;
    background-color:rgb(252, 252, 252);
    color: black;
    border-radius: 6px;
    font-weight: 500;
  }

  .view-more {
    display: block;
    margin: 30px auto 0;
    padding: 10px 24px;
    font-size: 0.95rem;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10vh;
  }
}






