
.contact {
  background-color: black;
  padding: 30px 10px;
  
}


.contact-title {
  text-align: center;
  margin-bottom: 5px;
}

.contact-title p {
  font-size: 26px;
  font-weight: 600;
  color: orangered;
}


.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  max-width: 900px;
  margin: 0 auto;
}


.contact-left {
  flex: 1 1 300px;
  min-width: 250px;
}

.contact-left h1 {
  font-size: 36px;
  margin-bottom: 5px;
  color: skyblue;
}

.contact-left p {
  font-size: 18px;
  line-height: 1.6;
  color: lightgray;
}


.contact-details {
  flex:1 1 300px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.contact-details div {
  margin-bottom: 20px;
}

.contact-details div a {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(88, 189, 228);

  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.contact-details div a:hover {
  background-color: #23bddf;
  transform: scale(1.05);
}


.contact-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.contact-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color:white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:rgb(37, 34, 34);
  transition: all 0.3s ease;
  
}

.contact-list li a:hover {
 background-color: white;
  color: #0d0d0d;
  transform: scale(1.2);
}


@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .contact-left,
  .contact-details {
    text-align: center;
    align-items: center;
  }

  .contact-details div {
    justify-content: center;
    margin-bottom: 20px;
  }

  .contact-list {
    justify-content: center;
    gap: 15px;
  }
}
