.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 170px;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-connect {
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(135deg, skyblue, blue);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}

