.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 170px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px 5px;
}

.nav-menu li a:hover {
  text-decoration: underline;
  color: skyblue;
}

.nav-connect a {
  padding: 10px;
  border-radius: 10px;
  background: white;
  color: black;
  text-decoration: none;
}

.nav-connect:hover {
  transform: scale(1.05);
  background: #f1f1f1;
}
.nav-mob-open{
  display: none;
}
.nav-mob-close{
  display:none ;
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;
    gap: 15px;
  }

  .nav-connect{
    display: none;
  }
  .nav-mob-open{
    display: block;
    position: fixed;
    right: 30px;
  }
  .nav-mob-close{
    display: block;
    position: relative;
    top: 30px;
    left: 260px;
    width: 30px;
  }
  .nav-menu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: black;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s ;
    right: -350px;

  }
  .nav-menu li{
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
    
  }
    .nav-menu li a:hover{
      text-decoration: none;
      
    }
   

}
