.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  margin-top: 10vh;
}
@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    gap: 8px;
  }
}